.services {

	&__decor-line {
		background-color: $dark-gray;
	}

	&__items {
		display: flex;
		justify-content: space-between;	
		padding: 80px 0 121px;
	}
}

.serv-item {
	width: calc((100% - 112px) / 3);
	text-align: center;
	&__img {
		height: 160px;
		width: auto;
		img {
			height: 100%;
			width: auto;
		}
	}

	&__title {
		@include text(24px, $dark-gray);
		padding: 35px 0 35px;
	}

	&__description{
		@include text(16px, $dark-gray, none);
	}
}