$black: #000000;
$white: #fff;
$yellow: #efbb00;
$gray: #333b46;
$lightgray: #afb2b6;
$darkwhite: #f3f3f3;
$col-facebook: #3b5998;
$col-twitter: #26a6d1;
$col-linkedin: #0e76a8;
$col-instagram: #3f729b;
$col-vimeo: #86c9ef;