body {
	overflow-x: hidden;
	font-size: 18px;
	color: #a2a2a2;
	font-family: 'Lato-Black', Tahoma, Geneva, Verdana, sans-serif;
}

.section {
	&__wrapper {
		max-width: 1140px;
		padding: 0 15px;
		margin: 0 auto;
	}
	&__active:hover,
	&__link:hover {
		color: #cd1d1f;
	}

	&__btn {
		height: 40px;
		width: auto;
		background: transparent;
		border: 2px solid #000;
		border-radius: 2px;
		text-transform: uppercase;
		font-family: 'OpenSans-Light';
		font-weight: bold;
		&:hover {
			color: $red;
			border-color: $red;
		}
	}

	&__title {
		padding: 30px 0;
		text-align: center;
		font-style: italic;
		font-size: 40px;
		color: $darkGray;
		position: relative;
		font-family: 'OpenSans-Light';
		&:after {
			content: '';
			height: 3px;
			width: 112px;
			background-color: $red;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		&:before {
			content: '';
			height: 3px;
			width: 112px;
			background-color: $red;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__slider {
		display: flex;
		justify-content: center;
	}

	&__active {
		height: 12px;
		width: 12px;
		margin: 0 5px;
		border-radius: 50%;
		background: #eee;
		border: 2px solid #eee;
		cursor: pointer;
		&--active,
		&:hover {
			background-color: transparent;
		}
	}
}
