*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 300 16px/1.2 "Roboto", sans-serif;
	background: url(./../img/bg.jpg) no-repeat center;
	color: #574d72;
	height: 100%;
}

.ba-container {
	max-width: 1200px;
	padding: 50px 20px;
	margin: 0 auto;
}

.ba-playlist__title {
	text-align: center;
	font-weight: bold;
	margin: 0 0 25px;
}

.ba-playlist {
	background: #fff;
	border-radius: 20px;
	-webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
	padding: 30px 20px;
	max-width: 400px;
	margin: 0 auto;
}

.ba-playlist__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ba-tune {
	border-top: 1px solid #e4e2e2;
	padding-top: 10px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ba-tune__top {
	font-size: 80%;
	margin-bottom: 5px;
	color: #a4a3a9;
}

.ba-tune__duration {
	display: inline-block;
	padding-right: 10px;
	margin-right: 6px;
	border-right: 1px solid rgba(164, 163, 169, 0.6);
}

.ba-tune__author {
	text-transform: capitalize;
}

.ba-tune__song {
	font-weight: bold;
}

.ba-tune__song::first-letter {
	text-transform: uppercase;
}

i {
	font-size: 20px;
	color: #ed5e75;
}

i:hover {
	color: #574d72;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
