@mixin button($color1, $color2) {
    color: $color1;
    background-color: $color2;
    &:hover {
      color: $color2;
      background-color: $color1;
    }
  }
  
  @mixin transition($time: 0.3s) {
    transition: all $time ease-in-out;
  }
  
  @mixin size($width, $height: $width) {
    width: $width;
    height: $height;
  }
  
  @mixin placeholder($color, $opacity: 1, $font-size: 14px, $font-family: Tahoma, $font-style: none) {
    &::-webkit-input-placeholder {
      color: $color;
      opacity: $opacity;
      font-size: $font-size;
      font-family: $font-family;
      text-transform: none;
      font-style: $font-style;
    }
    &:-moz-placeholder {
      color: $color;
      opacity: $opacity;
      font-size: $font-size;
      font-family: $font-family;
      text-transform: none;
      font-style: $font-style;
    }
    &::-moz-placeholder {
      color: $color;
      opacity: $opacity;
      font-size: $font-size;
      font-family: $font-family;
      text-transform: none;
      font-style: $font-style;
    }
    &:-ms-input-placeholder {
      color: $color;
      opacity: $opacity;
      font-size: $font-size;
      font-family: $font-family;
      text-transform: none;
      font-style: $font-style;
    }
  }
  
  @mixin img($object-fit: cover, $height: 100%, $width: 100%) {
    max-width: $height;
    height: auto;
    @supports (object-fit: $object-fit) {
      width: $width;
      height: $height;
      object-fit: $object-fit;
    }
  }

  @mixin text($font-size: 18px, $font-family: sans-serif, $color: $text-color, $text-transform: none) {
    text-transform: $text-transform;
    font-size: $font-size;
    color: $color;
    font-family: $font-family, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }