.features {
  padding: 200px 0 250px;
  position: relative;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    width: 2px;
    background: $black;
    background: linear-gradient(to top, transparent 10%, $black);
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    width: 2px;
    background: $black;
    background: linear-gradient(to bottom, transparent 10%, $black);
  }
  &__subtitle {
    text-transform: uppercase;
    font-size: 23px;
    padding-bottom: 20px;
  }
  &__title {
    text-transform: uppercase;
    padding: 0 15px;
    background: $white;
    font-size: 40px;
    color: $yellow;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  &__img {
    border: 13px solid $lightgray;
    width: 100%;
    height: 500px;
    display: flex;
    img {
      width: 100%;
      height: auto;
      align-items: center;
    }
  }
  &__item {
    text-align: center;
    position: relative;
    font-family: 'Raleway';
    font-weight: 700;
    width: 45%;
  }
  &__btn {
    background: $black;
    font-family: 'Open Sans';
    font-weight: 600;
    color: $yellow;
    font-size: 25px;
    text-transform: uppercase;
    padding: 5px 40px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      border-color: $yellow;
      background: $yellow;
      color: $black;
    }
  }
  &__buy {
    background: $yellow;
  }
}